extends ../../layout.jade
block contenido
	div(class="col-md-6 remove-float center-block big-top-space")
		h2 Subir nueva imagen
		form(action="/app/imagenes/#{imagen.id}?_method=PUT", method="post")
			
			div(class="form-group")
				label(for="title") Titulo
				input(type="text", name="title",placeholder="Titulo de la imagen...",id="title",class="form-control",value="#{imagen.title}")
						
			div(class="row top-space")
				div(class="col-xs-12 col-sm-6")
					input(type="submit",value="guardar",class="btn btn-info")
				