extends ../../layout.jade
block contenido
	div(class="img-container")
		h2=imagen.title
		img(src="/public/imagenes/#{imagen._id}.#{imagen.extension}",class="main-img")
		p Por #{imagen.creator.email}